@charset 'utf-8';

@import 'tachyons';
// @import 'normalize';

// Variables used by all other stylesheets
@import 'colors';
@import 'media';

$base-font-family: 'Liberation Sans', Helvetica, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$base-font-size:   1.125rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.6;
$font: $base-font-weight #{$base-font-size} / #{$base-line-height} $base-font-family;

// Route style sheets
// @import 'companies';
// @import 'friends';
// @import 'home';
// @import 'login';
// @import 'offers';
// @import 'profile';

// Component style sheets
// @import 'code-edit';
// @import 'company';
// @import 'company-card';
// @import 'deal-show';
// @import 'friend-deal';
// @import 'friend-list';
@import 'nav';
// @import 'offer-deal';
// @import 'offer-details';

.flex-grow {
  flex-grow: 1;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.bg-primary {
  background-color: $primary;
}

.bg-highlight {
  background-color: $primary-highlight;
}

* {
  margin: 0;
}

body {
  font: $font;
  font-kerning: normal;
  min-height: 100vh;
}

button {
  color: $btn-color;
  font: $font;
}

div, label, p {
  color: $primary;
  font: $font;
  font-kerning: normal;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  color: $h1-color;
}

header {
  + div {
    flex: 2;
  }
}

input {
  border: 1px solid $input-border;
  font: $font;
}

img:not([alt]) {
  filter: grayscale(100%);
}

.right {
  margin-left: auto;
}
