.code-edit {
  align-items: center;
  display: flex;
  flex-direction: column;

  .code-edit-title {
    font-size: 1.5rem;
    margin: 0 .75rem .75rem;
    text-align: center;
  }

  @media #{$medium-up} {
    .code-edit-button {
      margin-left: .5rem;
    }
  }

  @media #{$small-only} {
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
