$primary: #6623af;
$primary-highlight: #9955e0;
// $primary-highlight: #8139CE;
$secondary: #84c208;
$secondary-highlight: #96dd09;

$background-shadow: #f2f2f2;

$basic-border: #ddd;

$btn-color: $primary;
$btn-border: $primary;
$btn-text: #fff;

$company-card-background: #fff;
$company-list-background: #fff;
$company-list-border: $basic-border;

$facebook-background: #3b5998;
$facebook-border: #29487d;
$facebook-text: #fff;

$friend-list-border: $basic-border;

$font-color: #333;

$h1-color: $primary;

$input-border: #080808;

$link-color: $primary;
$link-active-color: darken($link-color, 20%);

$nav-bar-text: #fff;

// http://www.color-hex.com/color-palette/6236
// #28278d	(40,39,141)
// #6867af	(104,103,175)
// #a9a8d1	(169,168,209)
// #e9e9f3	(233,233,243)
// #a7a7a7	(167,167,167)
