.company-card {
  background-color: $company-card-background;
  display: flex;
  flex-direction: column;
  height: 284px;
  justify-content: center;
  margin: 1rem;
  text-align: center;
  width: 284px;

  // @media #{$small-only} {
  //   height: 80vw;
  //   width: 80vw;
  // }
}
