// Used by the company-list and company-show styles
.company {
  border: 1px solid $company-list-border;
  margin-bottom: 1rem;
  padding: 1rem;

  // .company-name {
  //
  // }

  .company-description {
    padding: 1rem 0;
  }

  .company-offer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    @media #{$small-only} {
      flex-direction: column;
    }

    .offer-description {
      margin-right: 1rem;

      @media #{$small-only} {
        margin-right: 0;
        padding-bottom: 1rem;
      }
    }

    .offer-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
