.deal-show {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  @media #{$small-only} {
    flex-direction: column;
  }

  .deal-show-details {
    margin-right: 1rem;

    @media #{$small-only} {
      margin-right: 0;
      padding-bottom: 1rem;
    }

    .deal-show-url {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .deal-show-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: auto;
  }
}
