.friends {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 1rem;

  .bottom-border {
    display: flex;
    justify-content: space-between;
  }

  .friend-show {
    border: 1px solid $friend-list-border;
    margin-bottom: 1rem;
    padding: 1rem;
    text-decoration: none;

    .friend-item {
      padding-top: 1rem;
    }
  }
}
