.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;

  .marketing-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1.5rem;
    text-align: center;

    .title {
      margin-bottom: .75rem;
    }

    .description {
      margin-bottom: .75rem;
    }

    .signup-link {
      @include btn;
      padding: .5rem 1.125rem;
    }
  }

  .promoted-companies {
    background-color: $background-shadow;
    display: flex;
    flex: 2;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
