.login, .signup {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  padding: 1rem;

  div + div {
    margin-top: 1rem;
  }

  .login-button {
    background-color: $btn-color;
    border: 1px solid $btn-border;
    border-radius: 2.5rem;
    color: $btn-text;
    padding: .5rem 1rem;
    text-decoration: none;
  }
}

