// Two breakpoints to have three possible screen sizes
// Phone
// Normal Computer
// Retina Computer
$medium-breakpoint: 37.5rem !default;
$large-breakpoint: 120rem !default;

// Media Queries
$screen: 'only screen' !default;

$landscape: '#{$screen} and (orientation: landscape)' !default;
$portrait: '#{$screen} and (orientation: portrait)' !default;

$small-up: $screen !default;
$small-only: '#{$screen} and (max-width: #{$medium-breakpoint})' !default;

$medium-up: '#{$screen} and (min-width: #{$medium-breakpoint})' !default;
$medium-only: '#{$screen} and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint})' !default;

$large-up: '#{$screen} and (min-width: #{$large-breakpoint})' !default;

// $retina: (
//   '#{$screen} and (-webkit-min-device-pixel-ratio: 2)',
//   '#{$screen} and (min--moz-device-pixel-ratio: 2)',
//   '#{$screen} and (-o-min-device-pixel-ratio: 2/1)',
//   '#{$screen} and (min-device-pixel-ratio: 2)',
//   '#{$screen} and (min-resolution: 192dpi)',
//   '#{$screen} and (min-resolution: 2dppx)'
// );
