header {
  align-items: center;
  background: $primary;
  color: $nav-bar-text;
  display: flex;

  a {
    color: $nav-bar-text;
    padding: 1.25rem;
    text-decoration: none;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
    }

    .active {
      background-color: $primary-highlight;
    }
  }

  div {
    display: flex;
    margin-left: auto;
  }
}

@media #{$small-only} {
  .nav-bar {
    flex-wrap: wrap;
  }

  .nav-links {
    background: $primary-highlight;
    order: 2;
    width: 100%;

    ul {
      justify-content: space-between;
      width: 100%;

      li {
        // flex-grow: 1;
      }
    }

    .active {
      background: $primary;
    }
  }
}

.header {
  .account-actions {
    display: flex;
    margin-left: auto;
  }
}
