.offer-deal {
  border: 1px solid $company-list-border;
  padding: 1rem;

  + .offer-deal {
    margin: 1rem 0;
  }

  .offer-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .offer-code {
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
