.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 1rem;

  .deals {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .no-deals {
    order: -1;
  }
}
