<div>
  <form class="center mw7">

    <FormError @error={{this.errors}}></FormError>

    <fieldset id="login" class="ba b--transparent ph0 mh0">
      <div class="flex mt3">
        <label for="code-url" class="clip">{{t 'code.create.prompt'}}</label>
        <Input id="code-url" @type="url" placeholder={{t 'code.create.prompt'}} @value={{this.code.url}} class="ba bg-transparent input-reset flex-grow pa2 w-100" />
        <button {{on "click" (fn this.saveCode @code)}} type="button" class="b b--black ba bg-transparent br3 dib input-reset ml3 nowrap ph3 pointer pv2 tc v-mid">{{t 'code.create.button'}}</button>
      </div>
    </fieldset>
  </form>
</div>
