<article class="ba">
  <LinkTo @route="companies.show" @model={{@company}} class="link">
    <h1 class="bg-primary f4 white mv0 pv2 ph3">{{@company.name}}</h1>
  </LinkTo>

  <div class="pa3">
    <CompanyOffersCard @company={{@company}}></CompanyOffersCard>
  </div>
</article>
