<div class="ba">
  {{#if @company.logoURL}}
    <img src={{@company.logoURL}} alt={{t 'company.logoAlt' name=@company.name}}>
  {{/if}}
  <h1 class="bg-primary f4 white mv0 pv2 ph3">{{@company.name}}</h1>
  <div class="pa2 ph3-ns pb3-ns">
    <div>
      <p class="black-80">{{@company.description}}</p>
    </div>
    <CompanyOffersCard @company={{@company}}></CompanyOffersCard>
  </div>
</div>
