<div class="flex flex-column">
  <h2 class="f5 fw4 gray mt0">{{t 'company.offers' company=@company.name count=@company.offersCount}}</h2>
  {{#each @company.offers as |offer|}}
    <div class="mt3">
      <div>
        <p class="black">{{offer.description}}</p>
      </div>
      <div class="mt1">
        <LinkTo @route="offers.show" @model="{{offer.id}}" class="b b--black ba bg-transparent br3 dib input-reset link nowrap ph3 pointer pv2 tc v-mid">{{t 'company.list.show.offer'}}</LinkTo>
      </div>
    </div>
  {{/each}}
</div>
