<div class="flex items-center justify-between pa2">
  {{#if @deal.friend}}
    {{#unless @hideName}}
      <div>
        {{@deal.friend.name}}
      </div>
      {{/unless}}
  {{/if}}

  <div>
    {{#if @deal.code.url}}
      <a href={{@deal.code.url}} class="link" target="_blank" rel="noopener noreferrer">{{@deal.code.url}}</a>
    {{else}}
      <button {{on "click" (fn this.showCode @deal)}} type="button" class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'friend.redeem.deal'}}</button>
    {{/if}}
  </div>

  {{#if @deletable}}
    <div>
      <button {{on "click" (fn this.delete @deal)}} type="button" class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'friend.redeem.delete'}}</button>
    </div>
  {{/if}}
</div>
