{{#if @error}}
  <div class="br2 error mt3 pa3">
    {{#each @error as |e| }}
      <ul>
        <li>
          {{t e}}
        </li>
      </ul>
    {{else}}
        {{t @error}}
    {{/each}}
  </div>
{{/if}}
