<div class="ba">
  <h1 class="bg-primary f4 white mv0 pv2 ph3">{{@friend.name}}</h1>
  <div class="pa2 ph3-ns pb3-ns">
    {{#each @friend.deals as |deal|}}
      <div class="friend-item">{{deal.company.name}}</div>
      <p class="black-80">{{deal.offer.description}}</p>
      <DealListCell @deal={{deal}} @hideName={{true}}></DealListCell>
    {{else}}
      <div>{{t 'friend.deals.none'}}</div>
    {{/each}}
  </div>
</div>
