<div class="tc">
  <h1 class="fw6 f3 f2-ns lh-title mv3">{{t 'marketingBanner.title'}}</h1>
  <div class="mv3">{{t 'marketingBanner.description'}}</div>
  <div class="mv3">{{t 'marketingBanner.explanation'}}</div>
  <div class="mv3">{{t 'marketingBanner.marketingCopy'}}</div>

  {{#unless @session.isAuthenticated}}
    <div class="mv3">
      <button {{on "click" @signup}} type="button" class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'marketingBanner.callToAction'}}</button>
    </div>
  {{/unless}}
</div>
