<header class="nav-bar header">
  <LinkTo @route="index" class="logo">{{t "title"}}</LinkTo>

  <nav class="nav-links">
    <ul>
      {{#if @session.isAuthenticated}}
      <li><LinkTo @route="profile" class="nav-header-link">{{t "profile.title"}}</LinkTo></li>
      <li><LinkTo @route="companies.index" class="nav-header-link">{{t "companies.title"}}</LinkTo></li>
      <li><LinkTo @route="friends.index" class="nav-header-link">{{t "friends.title"}}</LinkTo></li>
      {{/if}}
    </ul>
  </nav>

  <div class="account-actions">
    {{#if @session.isAuthenticated}}
      <LinkTo @route="logout" class="logout-button">{{t "buttons.logout"}}</LinkTo>
    {{else}}
      <LinkTo @route="login" @query={{hash friendCode=@friendCode}} class="login-button">{{t "buttons.login"}}</LinkTo>
      <LinkTo @route="signup" @query={{hash friendCode=@friendCode}} class="signup-button">{{t "buttons.signup"}}</LinkTo>
    {{/if}}
  </div>
</header>
