<div class="ba">
    <h1 class="bg-primary f4 white mv0 pv2 ph3">{{@offer.company.name}}</h1>
  <div class="pa2 ph3-ns pb3-ns">
    <div class="company-description">
      <p class="black-80">{{@offer.description}}</p>
    </div>
    <div class="mt3">
      {{#if @offer.deals}}
        <div>
          <p>{{t 'offer.friends'}}</p>
        </div>
      {{/if}}
      {{#each @offer.deals as |deal|}}
        <DealListCell @deal={{deal}}></DealListCell>
      {{else}}
        <p class="tc">
          {{t 'offer.no.deals'}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
