<div class="center bg-white ba b--black flex flex-column justify-between w-100 h-100">
  <h1 class="bg-primary f4 white mv0 pv2 ph3">{{@offer.company.name}}</h1>
  <div class="flex flex-column justify-between flex-grow pa2 ph3-ns pb3-ns">
    <div>
      <p class="black">{{@offer.description}}</p>
    </div>
    <div>
      <LinkTo @route="offers.show" @model="{{@offer.id}}" class="b b--black ba bg-transparent br3 dib input-reset link nowrap ph3 pointer pv2 tc v-mid">{{t 'company.list.show.offer'}}</LinkTo>
    </div>
  </div>
</div>
