{{#if @invite}}
  <div class="ba center pv3 tc">
    <div >{{t 'inviteFriends.title'}}</div>
    <div><a href="{{@invite.inviteURL}}" target="_blank" rel="noopener noreferrer">{{@invite.inviteURL}}</a></div>
  </div>
{{/if}}
