<div class="center mw7-l mw7-m ph4">
  <div class="mt3">
    {{#each this.invites as |invite|}}
      <UserInvite @invite={{invite}}></UserInvite>
    {{/each}}
  </div>
  <div class="flex flex-column w-100">
    {{#if this.friends}}
      <div class="mv3">
        {{#each this.friends as |friend|}}
          {{#if friend.dealCount }}
            <LinkTo @route="friends.show" @model="{{friend.id}}" class="link">
              <FriendListCell @friend={{friend}}></FriendListCell>
            </LinkTo>
          {{else}}
            <FriendListCell @friend={{friend}}></FriendListCell>
          {{/if}}
        {{/each}}
      </div>
      <div class="flex justify-between">
        <button type="button" {{on "click" this.prev}} disabled={{this.firstPage}} class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'buttons.previous'}}</button>
        <button type="button" {{on "click" this.next}} disabled={{this.lastPage}} class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'buttons.next'}}</button>
      </div>
    {{else}}
      <p class="tc">
        {{t "friend.list.none"}}
      </p>
    {{/if}}
  </div>
</div>
