<div class="center mw7-l mw7-m ph4">
  <div class="flex flex-column w-100">
    {{#if @model}}
      {{#each @model as |company|}}
        <div class="mv3">
          <CompanyListCell @company={{company}}></CompanyListCell>
        </div>
      {{/each}}
      <div class="flex justify-between">
        <button type="button" {{on "click" this.prev}} disabled={{this.firstPage}} class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'buttons.previous'}}</button>
        <button type="button" {{on "click" this.next}} disabled={{this.lastPage}} class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t 'buttons.next'}}</button>
      </div>
    {{else}}
      <p>{{t "company.list.none"}}</p>
    {{/if}}
  </div>
</div>
