<div class="ph4">
  <div class="center mw7-l mw7-m">
    <MarketingBanner @session={{this.session}} @signup={{this.signup}}></MarketingBanner>
  </div>

  <div class="flex flex-auto flex-wrap justify-center mt2">
  {{#each @model as |offer|}}
    <div class="ma2 fl w-100 w-30-l">
      <OfferPromoCard @offer={{offer}}></OfferPromoCard>
    </div>
  {{/each}}
  </div>
</div>
