<main class="ph4">
  <form class="center mw6">

    <FormError @error={{this.errors}}></FormError>

    <fieldset id="login" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <label for="email">{{t "labels.email"}}</label>
        <Input id="email" @type="email" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.email}} />
      </div>

      <div class="mv3">
        <label for="password">{{t "labels.password"}}</label>
        <Input id="password" @type="password" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.password}} />
      </div>
    </fieldset>

    <div>
      <button {{on "click" this.authenticate}} type="button" class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t "buttons.login"}}</button>
    </div>
  </form>
</main>
