{{page-title (t "profile.title")}}
<div class="center mw7-l mw7-m ph4">
  <h1 class="fw6 f3 f2-ns lh-title mv3 tc">{{t 'code.create.title'}}</h1>
  <main>
    <CodeCreate @refresh={{this.refresh}}></CodeCreate>
  </main>
  <div class="mv4">
    {{#if this.deals }}
      {{#if this.deals.verified }}
        <div class="mv2">
          <h2>{{t 'profile.verified'}}</h2>

          {{#each this.deals.verified as |deal|}}
            <DealListCell @deal={{deal}} @deletable={{true}}></DealListCell>
          {{/each}}
        </div>
      {{/if}}
      {{#if this.deals.unverified }}
        <div class="mt4">
          <h2>{{t 'profile.unverified'}}</h2>
          <div>{{t 'profile.unverifiedWarning'}}</div>

          {{#each this.deals.unverified as |deal|}}
            <DealListCell @deal={{deal}} @deletable={{true}}></DealListCell>
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <p class="tc">
        {{t 'profile.no.deals'}}
      </p>
    {{/if}}
  </div>
</div>
