<main class="ph4">
  <form class="center mw6">

    <FormError @error={{this.errors}}></FormError>

    {{#if this.submitted}}
      {{#each this.errors as |error|}}
        <div>
          <p>{{error}}</p>
        </div>
      {{else}}
        <div>
          <p>{{t "signup.submitted"}}</p>
        </div>
      {{/each}}
    {{else}}
      <fieldset id="signup" class="ba b--transparent ph0 mh0">
        <div class="mt3">
          {{t "signup.closed"}}
        </div>
        <div class="mv3">
          <label for="email">{{t "labels.email"}}</label>
          <Input id="email" @type="email" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.email}} />
          <small>{{t "signup.email.description"}}</small>
        </div>
        <div class="mv3">
          <label for="name">{{t "labels.username"}}</label>
          <Input id="username" @type="text" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.username}} />
          <small>{{t "signup.name.description"}}</small>
        </div>
        <div class="mv3">
          <label for="password">{{t "labels.password"}}</label>
          <Input id="password" @type="password" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.password}} />
          <small>{{t "signup.password.description"}}</small>
        </div>
        <div class="mv3">
          <label for="verifyPassword">{{t "labels.verifyPassword"}}</label>
          <Input id="verifyPassword" @type="password" class="pa2 input-reset ba bg-transparent w-100" @value={{mut this.verifyPassword}} />
          <small>{{t "signup.passwordVerify.description"}}</small>
        </div>
      </fieldset>
      <div>
        <button {{on "click" this.register}} type="button" class="b b--black ba bg-transparent br3 dib input-reset nowrap ph3 pointer pv2 tc v-mid">{{t "buttons.signup"}}</button>
      </div>
    {{/if}}
  </form>
</main>
